Source: knewstuff
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.11),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.22.0~),
               kio-dev (>= 5.22.0~),
               libkf5archive-dev (>= 5.22.0~),
               libkf5attica-dev (>= 5.22.0~),
               libkf5completion-dev (>= 5.22.0~),
               libkf5config-dev (>= 5.22.0~),
               libkf5coreaddons-dev (>= 5.22.0~),
               libkf5i18n-dev (>= 5.22.0~),
               libkf5iconthemes-dev (>= 5.22.0~),
               libkf5itemviews-dev (>= 5.22.0~),
               libkf5service-dev (>= 5.22.0~),
               libkf5textwidgets-dev (>= 5.22.0~),
               libkf5widgetsaddons-dev (>= 5.22.0~),
               libkf5xmlgui-dev (>= 5.22.0~),
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.4.0~)
Standards-Version: 3.9.8
Homepage: https://projects.kde.org/projects/frameworks/knewstuff
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/frameworks/knewstuff.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/knewstuff.git

Package: libkf5newstuff-dev
Section: libdevel
Architecture: any
Depends: kio-dev (>= 5.22.0~),
         libkf5archive-dev (>= 5.22.0~),
         libkf5attica-dev (>= 5.22.0~),
         libkf5newstuff5 (= ${binary:Version}),
         libkf5xmlgui-dev (>= 5.22.0~),
         qtbase5-dev (>= 5.4.0~),
         ${misc:Depends}
Description: development files for knewstuff
 Framework for downloading and sharing additional
 application data.
 .
 Contains development files for knewstuff.

Package: libkf5newstuff5
Architecture: any
Multi-Arch: same
Depends: libkf5newstuff-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Support for downloading application assets from the network.
 Framework for downloading and sharing additional
 application data.

Package: libkf5newstuff-data
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Breaks: libkf5newstuff5 (<= 4.100.0-0ubuntu1~ubuntu14.10~ppa4)
Replaces: libkf5newstuff5 (<= 4.100.0-0ubuntu1~ubuntu14.10~ppa4)
Description: Support for downloading application assets from the network.
 Framework for downloading and sharing additional
 application data.
 .
 This package contains the data files.
